
body{
    background-color: #6bb8c1;
    font-family: 'Raleway', sans-serif;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.heading{
    font-size: 36px;
    padding: 10px;
}
.game{}

.moves {
  margin: 20px;
  padding-left: 30px;
}

.board-row {
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {}

.square {
  background: #badbd6;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  box-shadow:2px 2px 0 #999;
  opacity: 0.8;
  font-size: 48px;
  float: left;
  text-shadow: 2px 2px #bbbbbb;
}

.square:hover {
    background-color: #2d8aca;
    cursor:pointer;
    transition: 0.4s;
}

.game-info {
    border: 3px double;
    padding: 30px;
    margin:20px;
}

@media only screen and (max-width : 480px) {
  body{
    padding: 10%;
  }
  .heading{
      font-size: 30px;
  }
  .square {
    height: 80px;
    width: 80px;
    font-size: 24px;
  }
}
