body{
  font-family: 'Raleway', sans-serif;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 24px;
  background-image: url(background.jpg);
}
.heading{
  font-size: 36px;
  color: #ca887b;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #99CED4;
  border-radius: 100px;
  height: 130px;
  width: 130px;
  box-shadow:2px 2px 0 #999;
  opacity: 0.8;
  font-size: 48px;
  float: left;
  text-shadow: 2px 2px #bbbbbb;
}

.square:hover {
  background-color: #eeb6b7;
  cursor:pointer;
  transition: 0.4s;
}

.game-info {
  border: 3px double;
  margin: 30px 0 30px 0;
  padding: 20px;
}

@media only screen and (max-width : 480px) {

  .square {
    height: 80px;
    width: 80px;
    font-size: 24px;
  }
}
